$base-color: #ffffff;
$dark-bg:black;
$btnn-color:linear-gradient(to bottom right, #7A7FBA, #11C37C);;





.home-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colgroup-Heading{
    color: $base-color;
    font-weight: 900;

}
.colgroup-text{
    color: $base-color;
    font-weight: 900;
}
.btnn{
    padding: 16px;
    color:$dark-bg;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.btnn:hover{
    color:$base-color;
    background:$dark-bg;
    transition: 0.7s;
}
.cards-about{
    display: flex;
    flex-direction: row;
}
.home-main{
    margin-top:60px ;
}
.btnn-slash{
  background: $btnn-color;
  color: $base-color;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border: 2px;

}

